@import "tailwindcss";

:root {
    --dark-purple: #32284A;
    --purple: #701bcc;
    --orange: #ff656d;
}

@theme {
    --color-dark-purple: #32284A;
    --color-purple: #701bcc;
    --color-orange: #ff656d;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32284A;
    background: linear-gradient(298deg, var(--dark-purple) 0%, var(--purple) 66%, var(--orange) 100%);
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.fade-in-out {
  opacity: 0;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}